.dropbox {
    display: block;
    width: 80%;
    height: auto;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    border: 1px dashed grey;
    -webkit-transition: .5s;
    transition: .5s;
}

span {
    display: inline-block;
}

.hoverwithfile {
    background: lightgreen;
}

#currentCoords, #inputCoords, #selectedCoords, #haversine-distance {
    text-align: center;
    font-size: 1.5rem;
    margin: 5px;
    transition: ease-in;
    -webkit-transition: .5s;
    transition: .5s;
}

#mapid {
    height: 500px;
}

#how-to-use {
    text-align: center;
    width: 100%;
    margin-top: 30px;
}